<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Learning css grid</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="layout.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>

    <!--
      header    : 100%
        title   :
      menu      :
      content   :
      aside     :
      footer    : down 100 % 
    -->

    <div id="website">
      
      <header id="header">
        <h1>Title of the web</h1>
      </header>
      
      <nav id="menu">
        <ul>
          <li><a href="#">Start</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <section id="content">
        <article>Article 1</article>
        <article>Article 2</article>
        <article>Article 3</article>
        <article>Article 4</article>
        <article>Article 5</article>
      </section>

      <aside id="lateral">
        <h2>Side bar</h2>
      </aside>

      <footer id="footer">Footer content here &copy</footer>
    
    </div>

    <hr/>

    <h1>Css grid</h1>
    <h2>Css grid . A new way to create layout</h2>
    
    <div class="layout">
      
      <div class="box red"> 
        First box
      </div>

      <div class="box green"> 
        Second box
      </div>

      <div class="box blue"> 
        Third box
      </div>

      <div class="box pink"> 
        4th box
      </div>

      <div class="box orange"> 
        5th box
      </div>

      <div class="box black"> 
        6th box
      </div>

    </div>

    <p>This content is not inside the layout</p>

  </body>
</html>
